<!--<div class="users">
  <div class="users-me clicked">
    <img class="me-head"  src="<%= @headurl %>" >
    <div class="me-info">
      <span class="me-name"><%= @name %></span>
      <span class="me-papersum"><%= @papersNum %></span>
      <span class="me-myfriends"><%= @friendsNum %></span>
      </div>
  </div>  
  <div class="users-myfriends">
     <ul>
      </ul>
  </div>
</div>-->
<div class="topbar">
  <div class="wrapper">
    <div class="me one-column">
      <div class="wrapper">
        <div class="my-head"><img src="<%= @headurl %>"/></div>
        <div class="my-info">
          <div class="my-info-name"><%= @name %></div>
          <div class="my-info-papers">1<%= @papersnum %></div>
          <div class="my-info-friends">2<%= @friendsnum %></div>
        </div>
        <div class="my-search">
          <div class="my-search-corner left"></div>
          <div class="my-search-body"><input type="search" placeholder=''></input></div>
          <div class="my-search-corner right"></div>
          <div class="my-search-icon"></div>
        </div>
      </div>
    </div>
    <div class="friends one-column">
      <div class="wrapper">
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="desktop">
  <div id="my-folders-wrapper" class="folders-wrapper">
    <div id="my-folders" class="folders">
      <ul>
        <li class="folder one-column add-folder">
        <div class="add-tag"><a href="#"><img src="assets/new/plus.png"/></a></div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="template" id="folder-template">
  <div class="tag-nav">
    <div id="papers-<%%= id %>" class="papers">
      <ul>
        <div id="uploader-<%%= id %>"class="index-upload">
        </div>
        <div class="titles">
        </div>
        <div class="more-bg"><img src="assets/new/morepapers-bg.png"></div>
      </ul>
    </div>
    <div class="cb"></div>
  </div>
  <div class="recent-box">
    <h1 class="recent-box-title"><%%= name %></h1>
  </div>
</script>
<script type="text/template" id="title-template">
  <div style="position: relative; width: 87.5%; height: 100%; margin: 0 5.5% 0 7%;">
    <%% if(progress < 0) { %>
      <span class="star star-<%%= yellow_or_white %>"></span>
      <%% if(isIDevice) { %>
          <div class="title"><a class="ml20" href="/fulltext/<%%= docid %>" target="_blank" id="detail<%%= id %>" data-id="<%%= id%>"><%%= title %></a></div>
      <%% } else { %>
          <div class="title"><a class="ml20" href='#' data-href="/fulltext/<%%= docid %>" id="detail<%%= id %>" data-id="<%%= id%>"><%%= title %></a></div>
      <%% } %>
      <span class="tag-color tag-color-<%%= color %>"></span>
    <%% } else { %>
      <div class="title"><a>Uploading file <%%= title %>(<%%= progress %>&#37)</a></div>
    <%% } %>
  </div>
</script>
<script type="text/template" id="user-me-template">
  <img class="me-head"  src="<%%= headurl %>" />
  <div class="me-info">
    <span class="me-name"><%%= name %></span>
    <span class="me-papersum"><%%= numPapers %></span>
    <span class="me-myfriends"><%%= numFriends %></span>
  </div>
</script>
<script type="text/template" id="friend-template">
  <img src="<%%= headurl %>"/><div class="friend-name"><%%= name %></div>
</script>
<script>
    isIDevice = (/iphone|ipad/gi).test(navigator.appVersion);
</script>
