<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1, minimum-scale=1, maximum-scale=1,
  user-scalable=no" >
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <title>FeastMind</title>
  <%= stylesheet_link_tag    "reset", :media => "all" %>
  <%= stylesheet_link_tag    params[:controller], :media => "all" %>
  <%= javascript_include_tag "json2.js" %>
  <%= javascript_include_tag "zepto.js" %>
  <%= javascript_include_tag "underscore.js" %>
  <%= javascript_include_tag "iscroll.js" %>
  <%= javascript_include_tag "backbone.js" %>
  <%= javascript_include_tag "tinybox.js" %>
  <%= javascript_include_tag params[:controller] %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
